.has-same-height .card {
  height: 320px;
  overflow: hidden;
}

.card-content h3 {
  text-align: center;
}

.table-profile td,
th {
  border: none !important;
}

.table-profile td:first-of-type {
  font-weight: bold;
}

.skills-content .media {
  margin: 0 !important;
  padding: 4px !important;
  border: 0 !important;
}

.skills-content .progress {
  height: 4px !important;
}

.portfolio-container .card {
  margin-bottom: 2em;
}

.section-heading {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 6em;
}

.portfolio-image {
  max-width: 50%;
}

.panel-main {
  display: table;
  width: 100%;
  height: -webkit-fill-available;
  background-color: rgba(0, 0, 0, 0.4);
}

.panel-content {
  display: table-cell;
  vertical-align: middle;
}

.panel-content-inner {
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  transition: box-shadow .25s;
}

.panel-content-inner {
  background-color: rgba(255, 255, 255, 0.0);
  max-width: 90%;
  min-width: 80%;
  height: auto;
}

.project-board {
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 16px;
  padding: 10px;
  margin: 15px 5px;
  font-size: 1.2rem;
}

.project-board-left-right {
  display: inline-flex;
  padding: 1.2rem;
}

.project-board-left {
  padding: 1.2rem;
  width: 60%;
}

.project-board-right {
  padding: 1.2rem;
  width: 60%;
  margin-left: 1.8rem;
}

.project-image {
  /* height: 200px; */
  margin: 1rem 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.project-image img {
  width: 100%;
  height: 100%;
}

.name {
  font-size: 1.8rem !important;
  font-weight: 750;
}

.description {
  font-style: italic;
}

.date-people {
  list-style: none;
  margin: 1.0rem 0;
}

.source, .demo {
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  border-radius: 40%;
  width: auto;
  text-align: center;
  cursor: pointer;
}

.source {
  background-color: #838383;
}

.demo {
  border: 1px solid #dee5e7;
}

.source i {
  color: #ffffff;
}

.demo i {
  color: #000000;
}

.source:hover, .demo:hover {
  background-color: #242424;
}

.source:hover i, .source:hover a, .demo:hover i, .demo:hover a {
  color: #ffffff;
}

.feature {
  list-style: none;
  margin: 1.0rem 0;
}

.tech-image {
  display: inline-table;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  border-radius: 15px 15px;
  margin: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.background-black {
  background: black;
}

.font-white {
  color: white;
}